apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-sidecar-conf
  namespace: k8s-practice
data:
  nginx.conf: |
    events {
      worker_connections 1024;
    }
    http {
      include /etc/nginx/mime.types;
      server {
        listen 8080;
        server_name localhost;
        location / {
          root /usr/share/nginx/html;
          index index.html;
        }
      }
    }
